<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{styles/global.css}">
</head>
<body>

<th:block th:insert="~{layout/header}"></th:block>

<main>

    <h2>Article list</h2>

    <table>
        <thead>
        <tr>

            <th>Designation</th>
            <th>Price TTE</th>
            <th>Price TTC</th>
            <th>Category</th>
            <th>Quantity</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="article: ${articles}" th:object="${article}">
            <td th:text="*{designation()}"></td>
            <td th:text="*{unitPriceExceludingTax() + ' €' } "></td>
            <td th:text="*{unitPriceIncludingTax() + ' €' } "></td>
            <td th:text="*{category()}"></td>
            <td th:text="*{quantity()}"></td>
            <td>
     <a class="link__details" th:href="@{/article/{id} (id=${article.id()} )}">Détails</a>
            </td>

        </tr>

        </tbody>
    </table>

</main>

<th:block th:insert="~{layout/footer}"></th:block>

</body>
</html>